---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import Social from '../../components/Social.astro'
---

<Layout title="Otroca.dev" lang="en">
  <main>
    <Header />
    <section class="h-[80dvh] flex flex-col items-center justify-center gap-4">
      <span class="ml-0">HI, MY NAME IS</span>
      <sapan
        class="flex text-otrocadev-blue text-5xl border-2 border-otrocadev-darkblue rounded-lg p-4"
      >
        <h2 class="animate-typing overflow-hidden whitespace-nowrap font-bold">
          Ot Roca
        </h2>
        <p class="animate-fade-in-out">_</p>
      </sapan>

      <span>[front-end developer]</span>
      <Social />
    </section>
    <section class="bg-otrocadev-darkblue p-4 sm:px-20 sm:py-24">
      <article
        class="px-8 bg-otrocadev-light border-4 border-otrocadev-blue rounded-3xl"
      >
        <img
          class="float-left sm:w-96 mt-8"
          src="./img/ot-roca-profile.avif"
          alt="Ot Roca with arms crossed"
        />
        <div class="py-24 [&>p]:my-8 [&>*]:mx-24">
          <p>
            👋🏼 Greetings! I'm Ot, a <b>software developer</b> established near Barcelona.
          </p>
          <p>
            My specialty is <b>the Front-End of web development</b>, but
            sometimes <b>I do Back-End stuff</b> too when needed. I am proactive,
            and I like to learn from new technologies to add value. That is why I
            am currently pursuing a <b
              >Bachelor's Degree in Techniques for Software Application
              Development</b
            > at <a
              class="underline text-otrocadev-blue font-bold"
              href="https://blogs.uoc.edu/informatica/es/bachelors-degree-in-techniques-for-software-development/"
              target="_blank"
              rel="noopener noreferrer">UOC</a
            >.
          </p>
          <p>
            I feel very <b>comfortable in team environments</b>, as I believe
            that diverse perspectives and opinions usually come together to
            create a better final result. As someone who believes in continuous
            growth, I am convinced that <b
              >being part of a team is always an opportunity to add value</b
            > while you learn new things.
          </p>
          <p><b>I like to say:</b></p>
          <blockquote class="text-otrocadev-blue text-lg">
            <i>
              "It is obvious that a senior will for sure teach a lot of things
              to a Junior, but what is actually crazy, is how a senior can learn
              a lot of new things from a junior. It is a symbiosis that creates
              really special synergies."
            </i>
          </blockquote>
        </div>
      </article>
    </section>
    <section class="p-8 sm:p-24 [&>p]:my-4">
      <img
        class="float-right w-96"
        src="./img/first_day_wallbox.avif"
        alt="Ot Roca's first day at Wallbox"
      />
      <h3 class="text-4xl font-bold py-4 text-otrocadev-blue">MY EXPERIENCE</h3>
      <h4 class="text-2xl font-semibold">WALLBOX CHARGERS | [Full-Stack]</h4>
      <p>
        Let me walk you through what I've been up to with the <b
          >Wallbox Digital Solutions team</b
        >.
      </p>
      <p>
        My main goal was building a platform to manage the <b>SIM cards</b> hooked
        up to specific models of the company's electric vehicle chargers. 🚗⚡️ This
        tool was stablished in a VPN secured enviroment inside a bigger team's tool.
      </p>
      <p>💼🔒 Here's the breakdown of how I made it happen:</p>
      <ul class="list-disc ml-8 [&>li]:py-2">
        <li>
          🛠️ The first step was to <b>craft a custom Backend using Typescript</b
          >. This let us dive into all the useful information details, letting
          us handle SIM card operations like a breeze.
        </li>
        <li>
          💻 Once the Backend was good to go, I pivoted to <b
            >building out the Frontend</b
          >. I made sure it was flexible and usable in all devices, and future
          proved to addapt to the needs that the team might find in the field.
          Plus, it's built using SOLID techniques, so it can grow and evolve
          right alongside the team needs. The technology used was <b>Vue.js</b> for
          this bit, and it's been smooth ever since.
        </li>
        <li>
          🔄 During the whole process, I could learn and upgrade some of the
          most tried-and-true software engineering techniques. I used AGILE
          methods and plenty of one-on-ones with our product owners and project
          manager to make sure everything worked out well. This way, we made
          sure the project was ticking all the right boxes and fitting with the
          team's needs.
        </li>
      </ul>
      <h5>
        Why this tool had a <b> REAL WORLD impact</b>?
      </h5>
      <p>
        Once finished, the engineers and technicians of the company, had a
        <b>rock-solid software solution</b> to lean on while they're out in the field,
        dealing with real-world situations.
      </p>
      <p>
        With this flexibilty, any software team that comes later can modify,
        expand and enhance the base product, to adapt it to new needs that may
        arise.
      </p>
    </section>
    <Footer />
  </main>
</Layout>

<style></style>
