---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Social from '../components/Social.astro'
---

<Layout title="Otroca.dev" lang="es">
  <main>
    <Header />
    <section class="h-[80dvh] flex flex-col items-center justify-center gap-4">
      <span class="ml-0">HOLA, ME LLAMO</span>
      <sapan
        class="flex text-otrocadev-blue text-5xl border-2 border-otrocadev-darkblue rounded-lg p-4"
      >
        <h2 class="animate-typing overflow-hidden whitespace-nowrap font-bold">
          Ot Roca
        </h2>
        <p class="animate-fade-in-out">_</p>
      </sapan>

      <span>[desarrollador front-end]</span>
      <Social />
    </section>
    <section class="bg-otrocadev-darkblue p-4 sm:px-20 sm:py-24">
      <article
        class="px-8 bg-otrocadev-light border-4 border-otrocadev-blue rounded-3xl"
      >
        <img
          class="float-left sm:w-96 mt-8"
          src="./img/ot-roca-profile.avif"
          alt="Ot Roca with arms crossed"
        />
        <div class="py-24 [&>p]:my-8 [&>*]:mx-24">
          <p>
            👋🏼 Buenas! Soy Ot, un <b>desarrollador de software</b> establecido en
            la zona de Barcelona.
          </p>
          <p>
            Mi especialidad es <b>el desarrollo front-end</b>, pero a veces <b
              >hago cosas de back-end</b
            > cuando lo necesito. Soy una persona proactiva, y me gusta aprender
            nuevas tecnologias para aportar valor. Es por ello que actualmente estoy
            cursando el
            <b
              >Grado en Tecnicas para el desarrollo de Aplicaciones de Software</b
            > en la <a
              class="underline text-otrocadev-blue font-bold"
              href="https://blogs.uoc.edu/informatica/es/bachelors-degree-in-techniques-for-software-development/"
              target="_blank"
              rel="noopener noreferrer">UOC</a
            >.
          </p>
          <p>
            Me siento muy <b>cómodo en entornos de equipo</b>, ya que creo que
            las perspectivas y opiniones diversas suelen unirse para crear un
            mejor resultado final. Como alguien que cree en el crecimiento
            continuo, estoy convencido de que <b
              >ser parte de un equipo siempre es una oportunidad para añadir
              valor</b
            > mientras aprendes cosas nuevas.
          </p>
          <p><b>Siempre me gusta decir:</b></p>
          <blockquote class="text-otrocadev-blue text-lg">
            <i>
              "Es obvio que un senior seguramente enseñará muchas cosas a un
              junior, pero lo que es realmente sorprendente, es cómo un senior
              puede aprender muchas cosas nuevas de un junior. Es una simbiosis
              que crea sinergias realmente especiales."
            </i>
          </blockquote>
        </div>
      </article>
    </section>
    <section class="p-8 sm:p-24 [&>p]:my-4">
      <img
        class="float-right w-96"
        src="./img/first_day_wallbox.avif"
        alt="Ot Roca's first day at Wallbox"
      />
      <h3 class="text-4xl font-bold py-4 text-otrocadev-blue">
        MI EXPERIENCIA
      </h3>
      <h4 class="text-2xl font-semibold">WALLBOX CHARGERS | [Full-Stack]</h4>
      <p>
        Permíteme contarte lo que he estado haciendo con el <b
          >equipo de Soluciones Digitales de Wallbox</b
        >.
      </p>
      <p>
        Mi objetivo principal fue construir una plataforma para gestionar las <b
          >tarjetas SIM</b
        > conectadas a modelos específicos de los cargadores de vehículos eléctricos
        de la empresa. 🚗⚡️ Esta herramienta se estableció en un entorno seguro
        de VPN dentro de una herramienta más grande del equipo.
      </p>
      <p>💼🔒 Aquí tienes el desglose de cómo lo hice posible:</p>
      <ul class="list-disc ml-8 [&>li]:py-2">
        <li>
          🛠️ El primer paso fue <b
            >crear un Backend personalizado usando Typescript</b
          >. Esto nos permitió acceder a todos los detalles de información
          útiles, permitiéndonos manejar las operaciones de las tarjetas SIM con
          facilidad.
        </li>
        <li>
          💻 Una vez que el Backend estuvo listo, me volqué a <b
            >desarrollar el Frontend</b
          >. Me aseguré de que fuera flexible y usable en todos los
          dispositivos, y preparado para adaptarse a las necesidades que el
          equipo pudiera encontrar en el campo. Además, está construido usando
          técnicas SOLID, por lo que puede crecer y evolucionar junto con las
          necesidades del equipo. La tecnología utilizada para esta parte fue <b
            >Vue.js</b
          >, y ha sido fluido desde entonces.
        </li>
        <li>
          🔄 Durante todo el proceso, pude aprender y mejorar algunas de las
          técnicas de ingeniería de software más probadas y verdaderas. Utilicé
          métodos AGILE y numerosas reuniones uno a uno con nuestros
          propietarios de producto y el gerente de proyecto para asegurarme de
          que todo funcionara bien. De esta manera, nos aseguramos de que el
          proyecto cumpliera todos los requisitos y se ajustara a las
          necesidades del equipo.
        </li>
      </ul>
      <h5>
        ¿Por qué esta herramienta tubo UN <b>IMPACTO REAL</b>?
      </h5>
      <p>
        Una vez terminado, los ingenieros y tecnicos de la compañia tenia
        <b>una solución de software solida</b> en la que confiar mientras trabajan
        en el mundo real, con situaciones reales.
      </p>
      <p>
        Con esta flexibilidad, cualquier equipo de software que aparezca mas
        tarde puede modificar, expandir y mejorar el producto base para
        adaptarlo a las necesidades que puedan surgir.
      </p>
    </section>
    <Footer />
  </main>
</Layout>

<style></style>
