<header class="bg-otrocadev-darkblue flex h-24 p-4 text-otrocadev-light">
  <div class="flex items-center gap-2">
    <img class="size-10" src="/img/otrocadev-logo.svg" alt="OtRocadev's logo" />
    <h1 class="text-4xl font-bold">OTROCA.DEV</h1>
  </div>
</header>
