---
import Github from './Icons/Github.astro'
import Linkedin from './Icons/Linkedin.astro'
import Mail from './Icons/Mail.astro'
---

<div class="flex gap-6 [&>a]:size-12">
  <a
    class="social-link hover:scale-125 transition-transform duration-300"
    href="https://www.linkedin.com/in/otrocadev/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Linkedin />
  </a>
  <a
    class="social-link hover:scale-125 transition-transform duration-300"
    href="https://github.com/otrocadev"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Github />
  </a>
  <a
    class="social-link hover:scale-125 transition-transform duration-300"
    href="mailto:contact@otroca.dev"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Mail />
  </a>
</div>
