<section class="aboutme p-8 sm:p-20 sm:px-20 border-t border-otrocadev-gray">
  <img
    class="float-left sm:w-96 mt-8"
    src="./img/ot-roca-profile.avif"
    alt="Ot Roca with arms crossed"
  />
  <h3>~/dev/about-me</h3>
  <h4>
    <span class="text-otrocadev-green">> Software developer </span>| [<span
      class="text-otrocadev-lightblue">BCN-area</span
    >]
  </h4>
  <div class="[&>p]:my-8 [&>*]:sm:mx-20">
    <slot />
  </div>
</section>
