<section
  class="experience p-8 sm:px-28 sm:pt-24 [&>p]:my-4 border-t border-otrocadev-gray"
>
  <img
    class="float-right w-96"
    src="./img/first_day_wallbox.avif"
    alt="Ot Roca's first day at Wallbox"
  />
  <h3>~/dev/previous-jobs</h3>
  <h4>
    <span class="text-otrocadev-green">> Wallbox Chargers </span>| [<span
      class="text-otrocadev-lightblue">full-stack</span
    >]
  </h4>
  <slot />
</section>
