---
import Social from '../../components/Social.astro'
import ChevronDown from '../Icons/ChevronDown.astro'

import json from '../../texts/translations.json'

const { lang } = Astro.props
---

<section
  class="h-[80dvh] flex flex-col items-center justify-center gap-4 overflow-hidden"
>
  <div class="flex flex-col gap-2">
    <span class="ml-2 text-xl font-bold text-left"
      >{json[lang].introductionText}</span
    >
    <sapan
      class="flex text-otrocadev-green text-5xl border-4 border-otrocadev-light rounded-lg p-4"
    >
      <h1 class="animate-typing overflow-hidden whitespace-nowrap font-bold">
        Ot Roca
      </h1>
      <p class="animate-fade-in-out">_</p>
    </sapan>
  </div>
  <p class="font-bold">
    [<span class="text-otrocadev-lightblue">{json[lang].jobTitle}</span>]
  </p>
  <Social />
  <span
    class="text-2xl bg-gradient-to-r from-emerald-500 to-green-400 rounded-lg py-2 px-4 border-2 text-green-900 border-green-900 relative -top-2 left-12 -rotate-6"
    >{json[lang].jobstate}</span
  >
</section>
<div class="h-6 animate-bounce mb-8">
  <ChevronDown />
</div>
